<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.noesis.disableAutofill"
        version="0.7.0">

  <name>DisableAutofill</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/disableAutoFill.js" target="js/disableAutoFill.js"/>

  <js-module src="www/disableAutoFill.js" name="disableAutoFill">
    <clobbers target="disableAutoFill" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="DisableAutoFill">
        <param name="android-package" value="com.noesis.disableAutofill"/>
      </feature>
    </config-file>

    <source-file src="src/android/DisableAutofill.java" target-dir="src/com/noesis/disableAutofill/"/>
  </platform>

</plugin>